<app-header>
  <section buttons>
    <button class="btn">Entrar</button>
  </section>
</app-header>
<app-body>
  <section container>
    <form (submit)="onSubmit()">
      <div class="container">
        <div class="prompt" *ngIf="!emailSent">
          <p>Digite seu e-mail cadastrado</p>
        </div>
        <div class="input" *ngIf="!emailSent">
          <input type="email" name="email" [(ngModel)]="emailValue" required placeholder="Digite seu e-mail">
          <div class="error-message" *ngIf="emailValue && !isValidEmail(emailValue)">
            <div class="error-message" *ngIf="message && !emailSent">{{ message }}</div>
          </div>
        </div>
        <div class="buttons" *ngIf="!emailSent">
          <button type="submit" [disabled]="!emailValue || !emailValue.trim()">ENVIAR</button>
          <button type="button">VOLTAR</button>
        </div>
        <div *ngIf="emailSent">
          <p>{{ message }}</p>
        </div>
      </div>
    </form>
  </section>
</app-body>
