<app-header>
</app-header>

<app-body>
  <div container>
    <form (submit)="onSubmit()">
      <div class="container">
        <div class="prompt" *ngIf="!emailSent">
          <p>Digite seu e-mail cadastrado</p>
        </div>
        <div class="input" *ngIf="!emailSent">
          <input type="email" name="email" [(ngModel)]="emailValue" required placeholder="Digite seu e-mail">
        </div>
        <div class="buttons" *ngIf="!emailSent">
          <button type="submit" [disabled]="!emailValue || !emailValue.trim()">ENVIAR</button>
          <button type="button">VOLTAR</button>
        </div>
        <div class="message" *ngIf="emailSent">
          <p>{{ message }}</p>
        </div>
      </div>
    </form>
  </div>
</app-body>
