.header {
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    background-color: #daa520; /* Dourado */
    padding: 30px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 2em; /* Tamanho do texto */
    font-weight: bold; /* Negrito */
    color: black;
}

.destaquePay {
    color: white;
}