<form class="form" [formGroup]="form">
    <span *ngIf="isFormValid != null && !isFormValid" class="invalid-login">
        Email e/ou senha incorretos
    </span>
    <div class="form-group">
        <fa-icon class="icon" [icon]="envelope" style="color: #daa520;"></fa-icon>
        <input formControlName="email" type="email" class="form-control" id="email" placeholder="Digite seu email" required>
    </div>
    <div class="form-group password-field">
        <input formControlName="password" type="password" class="form-control" id="password" placeholder="Digite sua senha" required>
        <fa-icon class="icon" [icon]="lock" style="color: #daa520;"></fa-icon>
    </div>
    <div class="other-data-form-group">
        <div class="checkbox-container">
            <!-- checkbox -->
            <input formControlName="rememberMe" type="checkbox" class="checkbox" id="rememberMe">
            <label class="label" for="rememberMe">Lembrar-me</label>
        </div>
        <!-- link -->
        <a (click)="redirectRecoverPassword()" class="forgot-password">Esqueci minha senha</a>
    </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Entrar</button>
</form>