.forgot-password {
    text-decoration: none;
    text-align: right;
}
.forgot-password a:hover {
    text-decoration: underline;
}


.icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: 4px 0 0 4px;
}

.password-field .icon:last-child {
    display: flex;
    // margin: calc(27rem - 0.5rem);
    position: absolute;
    justify-self: end;
    align-self: center;
    right: auto;
}