.forgot-password {
    text-decoration: none;
    text-align: right;
}
.forgot-password a:hover {
    text-decoration: underline;
}

.other-data-form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}