.img-perfil {
    width: 4.375rem;
}

.welcome-perfil{
    display: flex;
    align-items: center;
}

.welcomePhraseContainer {
    margin-left: 0.313rem;
}

.welcome-paragraph {
    font-size: 0.875rem;
}

.welcome-name {
    font-size: 1.125rem;
    font-weight: bold;
}
