.img-perfil {
    width: 70px;
}

.welcome-perfil{
    display: flex;
    align-items: center;
}

.welcomePhraseContainer {
    margin-left: 5px;
}

.welcome-paragraph {
    font-size: 14px;
}

.welcome-name {
    font-size: 18px;
    font-weight: bold;
}