<app-header></app-header>
<main>

        <h2>Abra sua conta <span class="trocacorh2">Concas</span>Pay</h2>
    <div class="container">
    <form>
      <div>
        <label for="nome"></label>
        <input class="input-style" type="text" id="nome" name="nome" placeholder="Informe o Nome Completo" required />
      </div>
    
      <div>
        <label for="cpf"></label>
        <input class="input-style" type="text" id="cpf" name="cpf" placeholder="Informe o CPF" required />
      </div>
      
      <div>
        <label for="email"></label>
        <input class="input-style" type="email" id="email" name="email" placeholder="Informe o E-mail" required />
      </div>
    
      
      <div>
        <label for="telefone"></label>
        <input class="input-style" type="tel" id="telefone" name="telefone" placeholder="Informe seu Número Celular (com DDD)" required />
      </div>
    
      <div>
        <label for="dataNascimento"></label>
        <input class="input-style" type="date" id="dataNascimento" name="dataNascimento" placeholder="Informe a Data de Nascimento" required />
      </div>
    
      <button class="btn" type="submit">Registrar</button>
      <p>Ao clicar em <span>Enviar</span> você aceita os <span class="trocacorP"><u>Termos de Uso</u></span> e declara que leu e está ciente da <span class="trocacorP"><u>Política de Privacidade.</u></span></p>
    </form>
</div>
</main>




