<app-default>
    <!-- added button to be projected -->
    <section class="content" buttons>
        <button class="btn">Entrar</button>
    </section>

    <section container>
        <h1>ConcasPay</h1>
        <p>ConcasPay é uma plataforma de pagamentos online que permite a você realizar pagamentos de forma rápida e segura.</p>
        <p>Com ConcasPay você pode realizar pagamentos de contas, boletos, recarregar seu celular e muito mais.</p>
        <p>ConcasPay é a solução para você que deseja realizar pagamentos de forma rápida e segura.</p>
    </section>
</app-default>


