.container {
    display: flex;
    padding: 3rem;

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 2rem;
        font-weight:300;
        width: 60%;
        padding-right: 20px; /* Adicione algum espaço entre as divs */
    }

    .image-container {
        width: 40%;
    }

    p {
        margin-bottom: 1rem;
    }

    .btn {
        margin-top: 1rem;
        align-self: center;
    }
}